@import url(reset.css);
html, body {
  height: 100%;
  line-height: 1.42857143; }

.wrap-header {
  position: relative;
  height: 100%; }
  .wrap-header .shadow {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000;
    opacity: 0;
    z-index: 1; }
  .wrap-header .header {
    position: relative;
    height: 100%;
    z-index: 2; }
    .wrap-header .header .top .hint-left {
      position: absolute;
      top: 50px;
      left: 50px;
      font-size: 24px; }
    .wrap-header .header .top .hint-right {
      position: absolute;
      top: 50px;
      right: 50px;
      font-size: 24px; }
    .wrap-header .header .wrap-center-block {
      display: table;
      height: 100%;
      width: 100%; }
      .wrap-header .header .wrap-center-block .center-block {
        display: table-cell;
        vertical-align: middle;
        text-align: center; }
        .wrap-header .header .wrap-center-block .center-block h1 {
          padding: 20px 0px; }
        .wrap-header .header .wrap-center-block .center-block h2 {
          padding: 10px 0px; }
        .wrap-header .header .wrap-center-block .center-block .btn {
          font-size: 24px;
          background: none;
          border: solid 2px #fff;
          height: 50px;
          padding: 0 50px;
          margin-top: 50px;
          border-radius: 50px;
          cursor: pointer; }
    .wrap-header .header .arrow {
      position: absolute;
      display: block;
      bottom: 25px;
      left: 0px;
      right: 0px;
      margin: 0 auto;
      height: 28px;
      width: 43px;
      background: url("../images/icon-arrow.png") 0 0 no-repeat;
      cursor: pointer !important; }
      .wrap-header .header .arrow.arrow-blink {
        animation: blinker 1s linear infinite; }
@keyframes blinker {
  50% {
    opacity: 0.0; } }
.wrap-line {
  position: relative;
  height: 100%; }
  .wrap-line .line {
    position: relative;
    height: 100%; }
    .wrap-line .line .wrap-center-block {
      display: table;
      height: 100%;
      width: 100%; }
      .wrap-line .line .wrap-center-block .center-block {
        display: table-cell; }
        .wrap-line .line .wrap-center-block .center-block .text-block {
          display: inline-block;
          margin: 0 auto; }

.wrap-square {
  position: relative; }
  .wrap-square .square {
    position: relative;
    height: 100%; }
    .wrap-square .square ul {
      font-size: 0; }
      .wrap-square .square ul li {
        position: relative;
        display: inline-block;
        vertical-align: top;
        overflow: hidden; }
        .wrap-square .square ul li .shadow {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          background-color: #000;
          opacity: 0;
          z-index: 1; }
        .wrap-square .square ul li .blur {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          z-index: 1; }
        .wrap-square .square ul li .icon {
          position: relative;
          text-align: center;
          padding: 50px;
          z-index: 2; }
        .wrap-square .square ul li .title {
          position: relative;
          padding: 50px;
          z-index: 2; }

/*# sourceMappingURL=main.css.map */
