@import url(reset.css);
html, body {
  height: 100%;
  line-height: 1.42857143; }

table tr td {
  padding: 10px; }

a {
  text-decoration: none; }

button:focus {
  outline: 0; }

input:focus, textarea:focus, keygen:focus, select:focus, button:focus {
  outline: 0; }

.wrap-header {
  position: relative;
  height: 100%; }
  .wrap-header .shadow {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000;
    opacity: 0;
    z-index: 1; }
  .wrap-header .header {
    position: relative;
    height: 100%;
    z-index: 2; }
    .wrap-header .header .top .hint-left {
      position: absolute;
      top: 50px;
      left: 50px;
      font-size: 24px; }
      .wrap-header .header .top .hint-left .table {
        display: table; }
        .wrap-header .header .top .hint-left .table .table-cell {
          display: table-cell;
          vertical-align: middle; }
          .wrap-header .header .top .hint-left .table .table-cell div.text {
            display: inline-block;
            width: 100%; }
      .wrap-header .header .top .hint-left img {
        display: inline-block;
        margin-bottom: 20px; }
    .wrap-header .header .top .hint-right {
      position: absolute;
      top: 50px;
      right: 50px;
      font-size: 24px; }
      .wrap-header .header .top .hint-right:after {
        content: '';
        position: absolute;
        width: 50px;
        height: 50px;
        top: -6px;
        left: -60px;
        background: url("../images/phone.png") center center no-repeat; }
      .wrap-header .header .top .hint-right-none:after {
        display: none; }
    .wrap-header .header .wrap-center-block {
      display: table;
      height: 100%;
      width: 100%; }
      .wrap-header .header .wrap-center-block .center-block {
        display: table-cell;
        vertical-align: middle;
        text-align: center; }
        .wrap-header .header .wrap-center-block .center-block h1 {
          padding: 20px 0px; }
        .wrap-header .header .wrap-center-block .center-block h2 {
          padding: 10px 0px; }
        .wrap-header .header .wrap-center-block .center-block .btn {
          font-size: 24px;
          background: none;
          border: solid 2px #fff;
          height: 50px;
          padding: 0 50px;
          margin-top: 50px;
          border-radius: 50px;
          cursor: pointer; }
    .wrap-header .header .arrow {
      position: absolute;
      display: block;
      bottom: 25px;
      left: 0px;
      right: 0px;
      margin: 0 auto;
      height: 28px;
      width: 43px;
      background: url("../images/icon-arrow.png") 0 0 no-repeat;
      cursor: pointer !important; }
      .wrap-header .header .arrow.arrow-blink {
        animation: blinker 1s linear infinite; }
@keyframes blinker {
  50% {
    opacity: 0.0; } }
.wrap-line {
  position: relative;
  height: 100%; }
  .wrap-line .shadow {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000;
    opacity: 0;
    z-index: 1; }
  .wrap-line .line {
    position: relative;
    height: 100%;
    z-index: 2; }
    .wrap-line .line .wrap-center-block {
      display: table;
      height: 100%;
      width: 100%; }
      .wrap-line .line .wrap-center-block .center-block {
        display: table-cell; }
        .wrap-line .line .wrap-center-block .center-block .text-block {
          margin: 0 auto; }

.wrap-square {
  position: relative; }
  .wrap-square .square {
    position: relative;
    height: 100%; }
    .wrap-square .square ul {
      font-size: 0; }
      .wrap-square .square ul li {
        position: relative;
        display: inline-block;
        vertical-align: top;
        overflow: hidden; }
        .wrap-square .square ul li .wrap_wrap {
          position: absolute;
          height: 100%;
          width: 100%; }
          .wrap-square .square ul li .wrap_wrap .wrap {
            display: table;
            height: 100%;
            width: 100%; }
            .wrap-square .square ul li .wrap_wrap .wrap .inner {
              display: table-cell;
              vertical-align: middle; }
        .wrap-square .square ul li .shadow {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          background-color: #000;
          opacity: 0;
          z-index: 1; }
        .wrap-square .square ul li .blur {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          z-index: 1; }
        .wrap-square .square ul li .icon {
          position: relative;
          text-align: center;
          padding: 50px;
          z-index: 2; }
        .wrap-square .square ul li .title {
          position: relative;
          padding: 50px;
          z-index: 2; }

.wrap-map {
  position: relative;
  height: 100%; }

.wrap-comment {
  overflow: hidden; }
  .wrap-comment .wrap-head .head {
    text-align: center; }
  .wrap-comment .comment {
    text-align: center; }
    .wrap-comment .comment .wrap_wrap {
      position: absolute;
      display: table;
      margin: auto;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%; }
      .wrap-comment .comment .wrap_wrap .wrap {
        display: table-cell;
        text-align: center;
        vertical-align: middle; }
    .wrap-comment .comment .icon {
      display: inline-block;
      border-radius: 50%;
      overflow: hidden;
      margin-bottom: 50px; }

.wrap-form form {
  padding: 0 30px;
  text-align: center; }
  .wrap-form form h2 {
    font-size: 22px;
    color: #fff;
    text-align: center;
    padding-top: 57px;
    padding-bottom: 47px; }
  .wrap-form form .form-input-field {
    display: inline-block;
    margin-right: 14px;
    vertical-align: top; }
    .wrap-form form .form-input-field input {
      font-size: 19px;
      height: 45px;
      padding: 0 16px;
      border: 0;
      border-radius: 0;
      color: #7c7c7c; }
      .wrap-form form .form-input-field input::-webkit-input-placeholder {
        color: #7c7c7c; }
      .wrap-form form .form-input-field input::-moz-placeholder {
        color: #7c7c7c; }
      .wrap-form form .form-input-field input:-moz-placeholder {
        color: #7c7c7c; }
      .wrap-form form .form-input-field input:-ms-input-placeholder {
        color: #7c7c7c; }
      .wrap-form form .form-input-field input.error {
        border: red solid 1px; }
    .wrap-form form .form-input-field button {
      height: 45px;
      background-color: #82c551;
      border: 0;
      border-radius: 0;
      color: #fff;
      padding: 0 44px;
      font-size: 19px;
      cursor: pointer; }

.contact-form {
  display: none; }

#contact-form {
  padding: 30px; }

#contact-form input.error {
  border: red solid 1px; }

#contact-form label.error {
  font-size: 12px;
  color: red; }

#cboxLoadedContent .alert {
  color: #000;
  margin: 30px; }

form h2 {
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: #000; }
form .form-group {
  margin-bottom: 15px; }
form .form-control {
  display: block;
  width: 100%;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  box-sizing: border-box; }
form .btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #333;
  background-color: #fff;
  border-color: #ccc; }

@media screen and (max-width: 1024px) {
  .wrap-form form .form-input-field {
    margin-bottom: 15px; } }
@media screen and (max-width: 768px) {
  .wrap-header .header .top {
    height: 10px !important; }
    .wrap-header .header .top .hint-left {
      position: relative !important;
      top: 25px;
      left: 0 !important;
      right: 0 !important;
      font-size: 24px !important;
      text-align: center !important; }
      .wrap-header .header .top .hint-left .table {
        display: table !important;
        width: 100% !important; }
        .wrap-header .header .top .hint-left .table .table-cell div.text {
          display: inline-block !important;
          width: 100% !important; }
    .wrap-header .header .top .hint-right {
      position: relative !important;
      top: 50px !important;
      left: 0 !important;
      right: 0 !important;
      font-size: 24px !important;
      text-align: center !important; }
  .wrap-header .header .wrap-center-block .center-block img {
    max-width: 100px !important; }
  .wrap-header .header .wrap-center-block .center-block .btn {
    font-size: 18px !important;
    margin-top: 15px !important; }

  .wrap-line {
    height: auto !important; }
    .wrap-line .line .wrap-center-block .center-block .text-block {
      margin: 0 auto !important;
      padding: 20px 0 !important;
      width: auto !important; }
      .wrap-line .line .wrap-center-block .center-block .text-block img {
        width: 100% !important;
        height: auto !important; }
      .wrap-line .line .wrap-center-block .center-block .text-block p {
        padding: 0 15px !important; }

  .wrap-square ul li {
    width: 100% !important; } }
@media screen and (max-width: 320px) {
  h1 {
    font-size: 24px !important; }

  h2 {
    font-size: 18px !important; }

  .wrap-header .header .top .hint-left {
    position: relative !important;
    top: 25px;
    left: 0 !important;
    right: 0 !important;
    font-size: 18px !important;
    text-align: center !important; }
    .wrap-header .header .top .hint-left .table {
      display: table !important;
      width: 100% !important; }
      .wrap-header .header .top .hint-left .table .table-cell div.text {
        display: inline-block !important;
        width: 100% !important; }
  .wrap-header .header .top .hint-right {
    position: relative !important;
    top: 50px !important;
    left: 0 !important;
    right: 0 !important;
    font-size: 18px !important;
    text-align: center !important; }
  .wrap-header .header .wrap-center-block .center-block img {
    max-width: 100px !important; }
  .wrap-header .header .wrap-center-block .center-block .btn {
    font-size: 16px !important;
    margin-top: 15px !important; }

  .wrap-line {
    height: auto !important; }
    .wrap-line .line .wrap-center-block .center-block .text-block {
      margin: 0 auto !important;
      padding: 20px 0 !important;
      width: auto !important; }
      .wrap-line .line .wrap-center-block .center-block .text-block img {
        width: 100% !important;
        height: auto !important; }
      .wrap-line .line .wrap-center-block .center-block .text-block p {
        padding: 0 15px !important; }

  .wrap-square ul li {
    width: 100% !important; }
    .wrap-square ul li .title {
      font-size: 18px !important; }

  .wrap-form form .form-input-field {
    display: block;
    margin-right: 0; } }

/*# sourceMappingURL=main.css.map */
