{% extends 'SiteMainBundle:Backend:layout.html.twig' %}

{% block content -%}
    <h1>{{ 'backend.level.h1_show'|trans({}, 'menu') }}</h1>

    {{ form(delete_form) }}

    <table class="record_properties table table-striped table-bordered">
        <tbody>
        <tr>
            <th>{{ 'backend.level.title'|trans({}, 'menu') }}</th>
            <td>{{ entity.title }}</td>
        </tr>
        </tbody>
    </table>

{% endblock %}
