{% macro moduleForm(module, local = '') %}
    <style type="text/css">
        .wrap-form.level{{ module.level.id }} {
            background-color: #9a8a68;
            {% if module.height|length > 0 %} min-height: {{ module.height }};
            {% endif %}
        }
    </style>
    <div class="wrap-form level-block level{{ module.level.id }}">
        {{ render(url('frontend_project_form', {'slug': module.level.page.project.slug, 'level': module.level.slug})) }}
    </div>
{% endmacro %}