{% extends 'SiteMainBundle:Backend:layout.html.twig' %}

{% block content -%}
    <h1>{{ 'backend.project.h1_show'|trans({}, 'menu') ~ ' ' ~ entity.project.title }}</h1>

    <ul class="record_actions nav nav-pills">
        <li>
            <a href="{{ path('backend_project_show', {'id': entity.project.id}) }}">
                {{ 'backend.project.back_to_list'|trans({}, 'menu') }}
            </a>
        </li>
    </ul>

    {% include 'SiteMainBundle:Backend/Level:index.html.twig' %}
{% endblock %}
